.Card{
    // margin-top: 150px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    overflow-y: auto;
    align-items: center;
    justify-content: space-between;
    &__items{
       
        position: relative;
        padding:20px 10px;
        width: 350px;
        margin: 10px;
         display: flex;
         flex-direction: column;
         align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;        &__img{
            width: 90%;
            height: 200px; 
            border-radius: 10px; 
        }
        &__price{
            color: rgb(255, 255, 255);
            padding: 7px;
            background-color: rgb(89, 53, 137);
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 20px;
        }
     
        &__name{
            color: rgb(107, 104, 104);
            margin: 0;
        }
        &__desc{
          text-align: start;
        }
        &__btns{
            margin-top: 30px;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__edite{
                padding: 5px;
                width: 100px;
                cursor: pointer;
                background-color: yellow;
                color: rgb(0, 0, 0);
                border-radius: 5px;
                border: 2px solid rgb(219, 215, 215);
            }
            &__delete{
                cursor: pointer;
                padding: 5px;
                width: 100px;
                background-color:white;
                color: rgb(0, 0, 0);
                border-radius: 5px;
                border: 2px solid rgb(219, 215, 215);
            }
        }
    }
}