.Navbar{
    width: 100%;
    display: flex;
    padding: 0px;
    box-shadow: rgba(5, 5, 225, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    z-index: 999;
    background-color: white;
    &__logo{
        text-decoration: none;
        color: white;
        padding: 20px 120px;
        font-size: 30px;
        font-weight: 600;
        -webkit-text-stroke:2px rgb(94, 31, 100);
    }
}